.active-link{
    color: white !important;
    background-color: #0d6efd;
    border-radius: 5px;
    font-weight: bold;
    padding: 8px 15px !important;
}

.nav-link{
    font-size: 22px;
    font-weight: 600;
    padding: 12px 22px !important;
}
.nav-link:hover{
    color: #0d6efd !important;
}


.fixed-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
